<h1>Dashboard</h1>

<h2>Patients</h2>
<table class="table">
  <thead>
  <tr>
    <th>Name</th>
  </tr>
  </thead>
  <tbody>
  <% @patients.each do |patient| %>
    <tr>
      <td><%= link_to full_name(patient), patient %></td>
      <td><%= link_to "Remove Patient", patient_path(patient), method: :delete  %>
    </tr>
  <% end %>
  </tbody>
</table>

<h2>Medications</h2>
<%= link_to "New Medication", new_medication_path %>
<table class="table">
  <thead>
  <tr>
    <th>Name</th>
  </tr>
  </thead>
  <tbody>
  <% @medications.each do |medication| %>
      <tr>
        <td><%= link_to medication.name, medication %></td>
        <td><%= link_to "Lobbyists have stopped paying me to push this", medication_path(medication), method: :delete %>
      </tr>
  <% end %>
  </tbody>
</table>
