<h1><%= @patient.full_name %></h1>
<h2>Prescriptions</h2>
<%= link_to "Add Prescription", new_patient_prescription_path(@patient) %>

<table class="table">
  <thead>
    <tr>
      <th> Medication </th>
      <th> Dosage / Schedule </th>
      <th> Dates </th>
    </tr>
  </thead>

  <tbody>
    <% @patient.prescriptions.each do |prescription| %>
    <tr>
      <td> <%= prescription.medication_name %> </td>
      <td> <%= prescription.dosage_with_schedule %> </td> 
      <td> <%= prescription.dates %> </td>
    </tr>
    <% end %>
  </tbody>
</table>
